/*
	Author: Ender İMEN
	Date : 13.04.2018;
*/

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}

.flexible {
	height: 100%;
	width: 100%;
}

.nav{
	
}

.nav-tabs{
	display: flex;
	justify-content: center;
}

.jumbotron{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ef5350;
}

.konusmacilar{
	height: 100%;
	width: 100%;
}

.konusmacilar img {
	border: 2px solid #cfd8dc;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: .3s ease;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.konusmacilar img:hover {
	transform: scale(1.1);
	border: 3px solid #81d4fa;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.border-none{
	border: none !important;
}

.no-padding {
	padding: 0;
}

.flexed{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card-text i{
	color: #b6b6b6;
	cursor: pointer;
	transition: all .3s ease; 
}

.card-text i:hover{
	color: #81d4fa;
}

.card-text span:nth-child(2){
	margin-left: 5px;
}

.tab-content {
	height: 100vh;
}

#ulasim {
	height: 100vh;
	width: 100%;
}

#ulasim iframe {
	height: 400px;
	width: 100%;
}

#ulasim h3 {
	margin-top: 100px;
	margin-bottom: 20px;
}

.footer {
	height: 40px;
	width: 100%;
	font-size: 12px;
	color: gray;
}